# Terraform local state and modules
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Variables
*.tfvars
*.tfvars.json

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs & OS
.DS_Store
*.log
